[2019-02-14 14:37] permitanyany opened #2 "Error When Running frr_exporter.go"
Running into the following issue:

cumulus@leaf01:~/frr_exporter$ sudo /usr/local/go/bin/go run frr_exporter.go
# command-line-arguments
./frr_exporter.go:58:19: cannot use ne (type *collector.Exporters) as type "github.com/prometheus/client_golang/prometheus".Collector in argument to registry.Register:
	*collector.Exporters does not implement "github.com/prometheus/client_golang/prometheus".Colle

[2019-02-15 11:39] hamshiva opened #3 "Disable collectors"
Hi,

The collectors or enable by default and there is no way to disable them from the CLI.
This generates errors in the log output when OSFP is disabled in FRR for example.

Regards,

[2019-02-15 21:34] tynany commented on #2
What version of Go are you using?

[2019-02-15 21:37] tynany commented on #3
Please see https://github.com/tynany/frr_exporter#collectors:
You can disable the OSPF collector by using `--no-collector.ospf`.

[2019-02-15 21:37] #3 closed

[2019-02-15 21:41] tynany commented on #2
Please use `go build && ./frr_exporter` instead of `go run` -- `go run` has limited functionality and will not utilise the `vendor` folder. You can look at https://github.com/golang/go/issues/20406 for more information.

Cheers

[2019-02-15 21:44] tynany commented on #2
What version of Go are you using?

Can you try `go build && ./frr_exporter`?

[2019-02-22 14:31] permitanyany commented on #2
cumulus@leaf01:~$ go version
go version go1.10.2 linux/amd64

cumulus@leaf01:~/frr_exporter$ go build && ./frr_exporter
# _/home/cumulus/frr_exporter
./frr_exporter.go:58:19: cannot use ne (type *collector.Exporters) as type "github.com/prometheus/client_golang/prometheus".Collector in argument to registry.Register:
	*collector.Exporters does not implement "github.com/prometheus/client_golang/prom

[2019-02-24 22:14] ShujieDev opened #4 "Add AS number as a label in bgp metrics?"
Hi, I'm interested in adding AS number as a label in bgp metrics.
It would be more convenient for organizations that has hundreds of BGP sessions.

I already tested to adding few lines into the code and now it shows asn correct.
frr_bgp_message_input_total{address_family="ipv4unicast",asn="****",peer="33.34.45.67",vrf="default"} 23

Another way is that makiing AS number a metrics since it's intege

[2019-02-26 09:29] tynany commented on #2
I am not able to replicate this issue. In the below, I run a Go 1.10.2 Docker container, pull down the repo and successfully build the project.

[code]

Can you please provide more details, especially about your Go environment?

If you aren't looking to make any code changes, you can always download the ready to use binaries from the releases page -- https://github.com/tynany/frr_exporter/releases

[2019-02-26 10:21] tynany commented on #4
I have added this feature to release v0.1.2 -- https://github.com/tynany/frr_exporter/releases/tag/v0.1.2.

[2019-02-26 10:23] tynany commented on #4
I have added the labels `local_as` and `remote_as` to release v0.1.2 -- https://github.com/tynany/frr_exporter/releases/tag/v0.1.2.

Let me know if this covers what you are after.

[2019-02-26 11:11] ShujieDev commented on #4
Looks great. Thank you!

[2019-02-26 13:54] permitanyany commented on #2
Thanks, I ended up using the binary from the release page and that worked without issues.

[2019-02-26 13:54] #2 closed

[2019-02-26 20:49] #4 closed

[2019-07-18 14:53] ShujieDev opened #5 "frr_exporter still try to collect bgp data even bgp/bgp6 collector been disabled"
Hi Tynany,

I found the exporter is still try to get bgp information when I disabled bgp collectors.

It leaves lots of spam in the frr log as the following.
ERRO[0013] collector "bgp6" scrape failed: cannot unmarshal bgp summary json: unexpected end of JSON input  source="collector.go:132"
ERRO[0013] collector "bgp" scrape failed: cannot unmarshal bgp summary json: unexpected end of JSON input  s

[2019-08-05 07:45] tynany commented on #5
I am not able to reproduce this behaviour. Can you please confirm you are running frr_exporter with the `--no-collector.bgp` and `--no-collector.bgp6` flags? Example:

```./frr_exporter --no-collector.bgp --no-collector.bgp6```

[2019-11-26 15:43] perkons opened #7 "Add peer description to the labels"
Could you please add peer description to the metric labels like this:
`frr_bgp_peer_up{address_family="ipv4unicast",peer_descr="some_neighbor",local_as="65550",peer="10.1.2.3",peer_as="58888",vrf="internet"} 1`

You can usually get the description by running:
`# vtysh -c " show run " | grep description`

I know that you are using the json format and there is no description in the json output. I am

[2019-11-27 05:43] tynany commented on #5
Closing this issue due to the lack of response from the reporter.

[2019-11-27 05:43] #5 closed

[2019-11-27 05:51] tynany commented on #7
Generally, you do not want to use labels for anything susceptible to frequent change (e.g. descriptions) as different label values + metric name combinations create entirely different metrics, but I can see the value from your point of view. I will work on adding a feature that allows your use case via a flag, such as `--bgp.descriptions`.

[2019-11-27 08:18] perkons commented on #7
I totally agree. I know that with label changes we will get new time series. However, in our case the descriptions do not change and are the neighbour names. To use a flag for this is a good idea. Thank you very much.

[2019-12-06 20:48] tynany commented on #7
This feature is now supported in v0.2.1.

Release -- https://github.com/tynany/frr_exporter/releases/tag/v0.2.1
Readme -- https://github.com/tynany/frr_exporter#bgp-peer-description-labels

[2019-12-06 20:48] #7 closed

[2019-12-09 16:25] perkons commented on #7
Thank you for the fast feature implementation. Unfortunately, this is not something our network team will accept. Would it be maybe possible to implement it so that the peer description must not be JSON formatted?
Instead of
`neighbor 192.168.0.1 description {"desc":"important peer"}`
use this configuration
`neighbor 192.168.0.1 description important peer`
I know that you are using type in the des

[2019-12-17 08:16] tynany commented on #7
This is now supported in v0.2.2 using the `--collector.bgp.peer-descriptions.plain-text` flag. Let me know if this satisfies what you are after. Thanks for the feature request!

[2019-12-17 12:48] perkons commented on #7
Awesome, thank you for your time and effort, much appreciated.

[2019-12-17 12:54] perkons opened #8 "BGP peer descriptions in plain text not added as labels to the metrics"
I am already trying out the new feature, the flag --collector.bgp.peer-descriptions.plain-text and it is not working for me. I have tried the exporter on 3 different hosts and none of them are showing the peer_descr label.
I run the exporter like this:
`# ./frr_exporter --collector.bgp.peer-descriptions.plain-text --no-collector.ospf`

Output of `vtysh -c "show run bgp`:
[code]

These are the metr

[2019-12-17 19:37] tynany commented on #8
You will still need to pass the `--collector.bgp.peer-descriptions` flag to turn on descriptions.

Expanding on your above execution command, you'd need:

`# ./frr_exporter --collector.bgp.peer-descriptions.plain-text --no-collector.ospf --collector.bgp.peer-descriptions`

[2019-12-18 10:36] perkons commented on #8
Thank you very much. It is working with the right flags.

[2019-12-18 10:36] #8 closed

[2020-03-11 13:01] devasmith opened #10 "BGP advertised-routes check"
Hello. Is it possible for you to implement a function so that we can check what routes are being advertised for a prefix with frr_exporter? Example output with vtysh:
`vtysh -c 'sh ip bgp nei <prefix> advertised-routes'`

[2020-03-11 21:36] tynany commented on #10
I am not following. Can you provide examples of the metric you're hoping to achieve?

For example:
Output:

[2020-03-11 21:37] tynany commented on #10
I am not following. Can you provide examples of the metric you're hoping to achieve?

For example:
Output:
[code]

[2020-03-11 21:38] tynany commented on #10
I am not following. Can you provide examples of the metric you're hoping to achieve?

For example, with the below output, what metrics would you expect to see?

[code]

[2020-03-17 08:34] devasmith commented on #10
Hi. Sorry for the late reply. It would be sufficient if we could get a total count of advertised-prefixes like for example as with frr_bgp_prefixes_active.

[2020-04-21 10:32] tynany commented on #10
Apologies for the delay. I have implemented the below metric in v0.2.4. You can find the binaries under releases -- https://github.com/tynany/frr_exporter/releases/tag/v0.2.4

[code]

Example output:
[code]

[2020-04-21 10:32] #10 closed

[2020-04-22 06:20] devasmith opened #11 "Querying metrics is slower in v0.2.4"
Hi. We are seeing much slower queries than before in the latest version, see comparison below.

version v0.2.4:
`~# time curl localhost:9342/metrics > /dev/null
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 10850  100 10850    0     0  27473      0 --:--:-- --:--:-- --:--:-- 27538

r

[2020-04-25 04:21] tynany commented on #11
This is caused by the `frr_bgp_peer_prefixes_advertised_count_total` metric which was added as part of https://github.com/tynany/frr_exporter/issues/10. Unfortunately, FRR does not expose a summary of advertised prefixes for all peers-- instead, you need to query FRR for each peer. From my testing, each peer adds ~50ms of latency while frr_exporter runs `show bgp ipv4 unicast neighbors $neighbor a

[2020-05-19 20:38] r0bj commented on #11
In our case, using 0.2.2 metric query takes ~2s and after upgrade to 0.2.4 we cannot get any metrics at all (I was waiting for 5 minutes http result).

[2020-05-21 11:41] tynany commented on #11
I have released https://github.com/tynany/frr_exporter/releases/tag/v0.2.5 which should address some of these issues:

@devasmith the vtysh commands used to collect advertised prefix counts are now parallelised, but from my testing, it seems vtysh/FRR still executes these in serial. Can you please try the new version and let me know if you are still experiencing slow queries to frr_exporter? Anoth

[2020-05-21 23:50] r0bj commented on #11
@tynany indeed, it was `vtysh` timeout. 0.2.5 with disabled `frr_bgp_peer_prefixes_advertised_count_total` works fine for me. Thanks!

[2020-05-26 14:08] Fluepke opened #12 "Tests failing"
Tests are failing

`go test ./...` results
[code]

I am working on a fix.

[2020-06-03 22:19] #12 closed

[2020-08-05 21:51] #11 closed

[2020-09-09 02:42] kakkotetsu opened #15 ""frr_exporter --version" not show version"
- `v0.2.8` from https://github.com/tynany/frr_exporter/releases/download/v0.2.8/frr_exporter_0.2.8_linux_x86_64.tar.gz

[code]

- `v0.28` & self build

[code]

- expected output format (node_exporter's output)

[code]

[2020-09-11 10:19] kakkotetsu opened #16 "can't collect `prefixReceivedCount` metrics on FRR 7.4"
FRR removed `prefixReceivedCount` from `show ip bgp vrf all summary json` output (alternative is `pfxRcd`)
https://github.com/FRRouting/frr/pull/6143

so, frr_exporter can't collect `frr_bgp_peer_prefixes_received_count_total` metrics...

- FRR7.3 example

[code]

- FRR7.4 example

[code]

[2020-09-14 10:24] tynany commented on #15
Now resolved in https://github.com/tynany/frr_exporter/releases/tag/v0.2.9:

[code]

[2020-09-14 10:24] #15 closed

[2020-09-14 10:26] tynany commented on #16
Thanks for reporting this. I went ahead and fixed the issue in https://github.com/tynany/frr_exporter/releases/tag/v0.2.9, only to then notice you had already created a PR -- i.e. we were working on it at the same time. Thanks for your contribution!

[2020-09-14 10:26] #16 closed

[2020-10-13 08:39] karlism opened #18 "Plain-text neighbour descriptions are not working"
Hello,

I'm trying to get neighbour descriptions into metric labels, but it appears to not be working:
[code]

Despite the fact that descriptions are set and `--collector.bgp.peer-descriptions.plain-text` flag is set, neighbour descriptions do not appear in metrics:
[code]

Can you please help me with this issue?

[2020-10-13 09:19] karlism commented on #18
Just realised that this is duplicate of https://github.com/tynany/frr_exporter/issues/8
I will shortly submit merge request for documentation to explicitly state that both flags are required.

[2020-10-13 09:22] karlism commented on #18
https://github.com/tynany/frr_exporter/pull/19

[2020-10-13 09:22] #18 closed

[2021-02-10 10:08] matejv opened #22 "collector "bgpl2vpn" scrape failed: cannot unmarshal outputs of 'show evpn vni json'"
I'm running frr_exporter 0.2.11 on Cumulus Linux 4.2.0.

This is the command to run the exporter:

[code]

On every poll I'm seeing this error in the logs:

[code]

And the scrape for `bgpl2vpn` fails:

[code]

If I run the show command by hand I get this output:

[code]

I suspect the `n/a` values are problematic.

[2021-02-12 10:04] eliasrudberg commented on #22
I encountered a similar problem, started after the commits a few days ago:

    msg="collector \"bfd\" scrape failed: cannot unmarshal bfd peers json: unexpected end of JSON input" source="collector.go:138"

[2021-02-12 20:31] tynany commented on #22
@matejv thanks for the detailed bug report. I have fixed this in the latest release, 0.2.12 (https://github.com/tynany/frr_exporter/releases/tag/v0.2.12).

@eliasrudberg, you are receiving this error as the latest version supports BFD. If you do not use BFD, you can disable the collector by passing the `--no-collector.bfd` flag to `frr_exporter`.

[2021-02-15 11:48] matejv commented on #22
@tynany Yes, it works now! No more errors and I get l2vpn metrics:

[code]

[2021-02-15 11:48] #22 closed

[2021-02-18 14:58] karlism opened #23 "FRR exporter reports OSPF collector down after FRR service restart"
There is an issue with FRR exporter after FRR service is restarted, it reports that OSPF collector is down, FRR exporter restart resolves this problem:
[code]

FRR exporter is started with following flags: `frr_exporter --collector.bgp.peer-descriptions --collector.bgp.peer-descriptions.plain-text --no-collector.bfd`

Log output during these queries is following:
[code]

[2021-03-06 00:13] tynany commented on #23
I am unable to replicate this behaviour. Are you able to share your `frr.conf` and the version of FRR you are using?

[2021-03-08 10:17] karlism commented on #23
Thnaks for looking into this! FRR is version 7.4:
[code]

I can update FRR to 7.5 and FRR exporter to 0.2.12 if you think this will help.

[2021-03-31 13:08] franktg opened #25 "Question: Grafana dashboard?"
Hi, do you have a grafana dashboard for this?

[2021-04-11 01:11] tynany commented on #25
I don't have a dashboard that displays all metrics available in FRR Exporter, but I'm happy to help you create PromQL -- what metrics are you looking for?

[2021-04-11 01:57] tynany commented on #23
Thanks for the detailed information. This has been fixed in release [0.2.13](https://github.com/tynany/frr_exporter/releases/tag/v0.2.13). Please test and confirm you are no longer seeing the issue.

[2021-04-12 06:52] karlism commented on #23
Thanks! I've just upgraded to 0.2.13 and it reports status properly after FRR restart, however there is another issue after an upgrade, I will create separate issue for that.

[2021-04-12 06:52] #23 closed

[2021-04-12 06:55] karlism opened #26 "Exporter crashes when BGP peer descriptions collector is enabled"
After an upgrade to 0.2.13 FRR exporter is crashing when BGP peer descriptions collector is enabled:
[code]
It is working properly if I downgrade to 0.2.12.

[code]

[2021-04-12 09:51] tynany commented on #26
Thanks for the info. I will take a look at this shortly.

[2021-04-14 18:50] gunhu opened #28 "Running exporter's command without root privileges"
Hi @tynany,

I would love to be able to run your prometheus exporter without root privileges when vtysh command is needed.

This PR [#27](https://github.com/tynany/frr_exporter/pull/27) implement the described logic.

When running without root privileges, sudo is invoked and we need this kind of sudo stanza to make it work:

[code]

Regards,
gunhu.

[2021-04-16 06:02] tynany commented on #28
I believe your requirement can be achieved without modifying frr_exporter, but instead adding the non-root user running frr_exporter to the `frrvty` group.

Taken from the [FRR vtsh documentation](https://docs.frrouting.org/en/latest/vtysh.html):

The below systemd file and group membership works with the current version of frr_exporter for a non-root user (in this example the non-root user is frr

[2021-04-16 07:00] tynany commented on #26
I am having a hard time replicating this issue. I have used a testing environment similar to what you described in https://github.com/tynany/frr_exporter/issues/23.

Operating system:
[code]

FRR version:
[code]

FRR config:
[code]

frr_exporter version:
[code]

frr_exporter log when scraping (i.e. it doesn't crash):
[code]

frr_exporter metric output showing desc:
[code]

Can you please help me f

[2021-04-16 07:49] karlism commented on #26
Thanks for looking into this! I investigated it bit further, tried with various FRR versions (7.5.1 and 7.4) and problem still remains. What I've discovered however is that it works just fine shortly after FRR is restarted but crashes as soon as BGP sessions come up.
While BGP sessions are down:
[code]
[code]
I've also tried enabling `frr_exporter` debug logging but it doesn't produce more info th

[2021-04-16 08:04] karlism commented on #28
I'm running `frr_exporter` as `frr` user and it is working just fine. If you are running it on RedHat based OS you might want to check out https://github.com/lest/prometheus-rpm as package from that repository will install and configure `frr_exporter` to run with `frr` user.

[2021-04-16 12:15] gunhu commented on #28
Indeed but I don't really want a user to perform any action on FRRouting instance.

Only `show` commands are needed by your exporter.

[2021-04-20 17:49] fdomain opened #29 "bgp l2vpn collector tries to unmarshal empty json"
Hello,

I have a FRR server (v7.5.1) running in [Route Server mode](https://docs.frrouting.org/en/latest/bgp.html#configuring-frr-as-a-route-server).
Some of the neighbors advertise prefixes over the l2vpn evpn AFI/SAFI, so I've enabled the bgp l2vpn collector with the flag `--collector.bgpl2vpn`

However, I encounter this error at each scrape:
`ERRO[0004] collector "bgpl2vpn" scrape failed: canno

[2021-04-20 22:18] #29 closed

[2021-04-20 22:20] tynany commented on #29
Thanks. I will make a new release of frr_exporter that includes this bugfix shortly -- just waiting for another bugfix and feature to be merged.

[2021-04-21 08:19] fdomain commented on #28
Wouldn't be also interesting to use the [`--user` vtysh option] (https://docs.frrouting.org/en/latest/vtysh.html#permissions-and-setup-requirements) for all vtysh calls made by the exporter? It forbids access to any configuration command.

[2021-04-21 08:47] tynany commented on #26
Thanks for that. I have fixed the bug in commit https://github.com/tynany/frr_exporter/commit/e02fdbb71ba126b77cff9cdde3ae3b5e9f49b7bb. I'll hold off cutting a new version of FRR Exporter until https://github.com/tynany/frr_exporter/pull/27 has been merged.

[2021-04-24 16:29] gunhu commented on #28
@fdomain I think it's better to restrict it with sudo because the documentation is saying `No guarantees of security are provided for this option and under no circumstances should this option be used to provide any semblance of security or read-only access to FRR.`

[2021-04-24 16:30] gunhu commented on #28
As requested by @tynany I implemented a sudo flag on the exporter to avoid breaking current implementation of the exporter. I hope it will suit your needs too.

[2021-06-01 09:49] matejv opened #31 "OSPF collector shouldn't report neighbors on passive interfaces"
I think if an OSPF interface is configured as passive, frr_exporter should not report neighbors and adjacencies metrics for that interface.

A passive interface means OSPF protocoll will not run on that interface, but the router will still generate network LSAs for address configured on interface.

If an interface is configured as passive it will have the key `"timerPassiveIface":true`:

[code]

I

[2021-06-21 09:06] tynany commented on #25
Closing due to lack of response

[2021-06-21 09:06] #25 closed

[2021-06-21 10:10] tynany commented on #26
A fix for this issue has been released in [v0.1.14](https://github.com/tynany/frr_exporter/releases/tag/v0.2.14). Please validate and let me know. Thanks!

[2021-06-21 10:10] tynany commented on #28
@gunhu thanks for implementing this! Just confirming this has been released in [v0.1.14](https://github.com/tynany/frr_exporter/releases/tag/v0.2.14).

[2021-06-21 10:11] tynany commented on #31
I agree. A fix for this issue has been released in [v0.1.14](https://github.com/tynany/frr_exporter/releases/tag/v0.2.14). Please validate and let me know. Thanks!

[2021-06-21 11:55] karlism commented on #26
@tynany, just tested `v0.2.14` and it works properly now, thanks for your help!

[2021-06-21 11:55] #26 closed

[2021-06-23 07:16] matejv commented on #31
On the latest version it works - no metrics for interfaces configured as passive. Thanks!

[2021-06-23 07:16] #31 closed

[2021-06-23 08:36] #28 closed

[2021-07-28 20:10] bewing opened #35 "Panic collecting metrics against FRR 7.5.1"
Release 0.2.15 dies when scraping metrics:

[code]

0.2.14 does not, but complains about BFD:

[code]

[2021-07-28 22:17] tynany commented on #35
Can you please post your frr.conf?

[2021-07-29 15:19] bewing commented on #35
Spun up an EC2 instance of Ubuntu for a simple test case.
Installed FRR from https://deb.frrouting.org/
[code]
frr_exporter dies with no config:
[code]

[2021-07-29 15:22] bewing commented on #35
It will also crash if I add a basic BGP config, and disable the OSFP and BFD pollers:

[code]

[2021-07-30 07:39] fdomain commented on #35
It is due to a nil pointer (fixed by #33), exporter crashes if these in no `--frr.vtysh.pathspace`

[2021-08-06 11:51] stefreak commented on #35
I think work around is to provide empty pathspace like --frr.vtysh.pathspace=""

[2021-08-06 13:32] stefreak opened #37 "--no-collector.bfd options etc are not listed in help text"
For collectors that are enabled by default, the option to disable them is not listed in the help text.

For users who are not familiar with kingpin it might be hard for them to figure out the correct option.

I think this is related to https://github.com/alecthomas/kingpin/issues/243

[2021-08-08 05:26] tynany commented on #37
That is true. Many Prometheus exporters exhibit the same behaviour (e.g. https://github.com/prometheus/node_exporter), and the expectation is to look at README.md.

One simple fix is to add something like "to disable, use --no-collector.$collectorName" for all enabled by default collectors. Thoughts? I'm happy to implement something like this if you think it will help. Otherwise, do you have any o

[2021-08-08 05:28] tynany commented on #35
Fixed in https://github.com/tynany/frr_exporter/releases/tag/v0.2.16 thanks to @stefreak

[2021-08-08 05:28] #35 closed

[2021-08-19 12:42] sc0rp10 opened #39 "Allow to set additional vtysh options"
Hi,

We plan to use this exporter in production to monitor our BGP infrastructure, but we need to use it as a docker container. With current architecture this is not possible because of exporter using local vtysh binary with hard-coded options.

My proposal is pack vtysh together with frr_exporter binary in docker image and allow to set some vtysh options as a exporter argument.
In my case additio

[2021-08-20 14:14] tynany commented on #39
I have just implemented this feature in [v0.1.18](https://github.com/tynany/frr_exporter/releases/tag/v0.2.18), and a Docker container is now available via Dockerhub -- [tynany/frr_exporter](https://hub.docker.com/r/tynany/junos_exporter).

Let me know if you run into any issues. Cheers

[2021-08-29 01:07] skorpy2009 opened #40 "github.com/prometheus/common/log was removed"
Hi @tynany

In the following commit the github.com/prometheus/common/log was removed so updating the dependencies is currently not possible. The logging system needs love :)
https://github.com/prometheus/common/commit/a184d5b1dbe0c2249407d6cde3c866340c2ee2d2

[2021-08-29 08:15] age9990 commented on #39
I tried the docker container in our environment. However, there is no vtysh binary file in the container. Therefore, I mount the binary file from the host machine. Still, the exporter is not working functional since a lot of frr dependent libraries are not in the containers either. What should I do to correctly collect frr metrics from a container?

[2021-08-29 08:25] tynany commented on #40
I've just fixed this in the latest version of master. Summary of the [commit](https://github.com/tynany/frr_exporter/commit/b0e1b52a0cffc158e77c0b08d0af05ccedb73203):
 - Updated Go to version 1.17.
 - Updated all modules.
 - Moved logging to `github.com/prometheus/common/promlog`.

Thanks!

[2021-08-29 08:55] tynany opened #41 "BFD and BGP descriptions do not use sudo or vtysh options flag"
The BFD collector and BGP description functions in the BGP collector were never moved to the new `execVtyshCommand` helper function, so the `--frr.vtysh.sudo` & `--frr.vtysh.options` flags are not used.

[2021-08-29 08:58] tynany commented on #41
Fixed in [v0.2.19](https://github.com/tynany/frr_exporter/releases/tag/v0.2.19).

[2021-08-29 08:58] #41 closed

[2021-08-29 09:10] tynany commented on #39
That is a good point. I've rebuilt the `frr_exporter` container from the `frrouting/frr` container which includes `vtysh` and all required dependencies. Please try again using `tynany/frr_exporter:v0.2.19` and let me know how you go.

[2021-08-29 11:16] skorpy2009 commented on #40
Hey that was also my intention :D
Thank you!

[2021-08-29 11:16] #40 closed

[2021-09-02 12:22] age9990 commented on #39
It worked like a charm. Appreciated.

[2021-09-02 23:15] #39 closed

[2021-09-23 13:28] sc0rp10 opened #44 "Export advertised BGP routes as metric"
Hi,
It would be nice, if frr_exporter can be able to export advertised-routes as metric from the `show ip bgp neighbor x.x.x.x advertised-routes` command.
It will be useful for monitoring advertising which may be admin-down or wrongly configured.
What do you think @tynany ?

[2021-11-01 08:54] tynany commented on #44
@sc0rp10 this feature is already supported. You can read more [here](https://github.com/tynany/frr_exporter#bgp-advertised-prefixes-to-a-peer).

tl;dr the metric you are looking for exists as `frr_bgp_prefixes_advertised_count_total`. If you are running FRR version 8.2+ it is enabled by default. For older versions of FRR, you need to enable frr_exporter's `--collector.bgp.advertised-prefixes` flag

[2021-11-11 00:03] #44 closed

[2021-12-01 13:49] subhan90 opened #45 ""--collector.bgp.peer-descriptions.plain-text" requires "--collector.bgp.peer-descriptions" to be included in arguments to work, which is causing scrape failed errors for plain text peer names resulting in panic"
Arguments passed:
``` ARGS=" --collector.bgp.peer-descriptions --collector.bgp.peer-descriptions.plain-text --collector.bgp6 --collector.bgpl2vpn --no-collector.ospf " ```

Code is looking for a JSON response to a plain-text value:

Error Log:
[code]

Configuration:
[code]

To add the scrape is successful with peer names however, these errors cause panic

[2021-12-01 15:54] dswarbrick commented on #45
Hi, colleague of @subhan90 here, and package maintainer for prometheus-frr-exporter in Debian.

As far as I can ascertain so far, the "cannot unmarshall bgp description" errors certainly seem to be indicative of some bug, however they are not the cause for the panic / segfault.

We originally noticed the crashes with earlier (<= v0.2.18) versions, as:
[code]
Digging around in the code, it became a

[2021-12-02 16:05] dswarbrick opened #47 "frr_exporter is not concurrency-safe"
Whilst investigating #45, it suddenly became rather obvious that none of the collectors in frr_exporter is safe in the event of concurrent scrapes by multiple Prometheus instances (such as is recommended for fault tolerant setups).

Each collector uses a global errors slice, which is initialized to an empty slice in the collector's `Collect()` method, e.g.
[code]
If another scrape is still in prog

[2021-12-02 19:54] tynany commented on #47
Hey @dswarbrick , thank you for contributing!

You are right. I have been working on a refactor as the code has many nuances like this one that I am unhappy with. This issue is the icing on the cake -- I will finish the refactor today.

[2021-12-02 20:35] dswarbrick commented on #47
@tynany Thanks for the quick response. It's good to know that you have already been working on refactoring the code, because I was about to go down that path with a PR myself.

I have written a couple of inhouse / proprietary exporters where I work, which are based heavily on the design of node_exporter. Each (sub-)collector registers a factory function in a map, which are used to construct the co

[2021-12-02 20:41] tynany commented on #47
You took the words right out of my mouth :D The refactor I have been working on is indeed based on node exporter. I have already implemented the same refactor in some of the other exporters I have created (e.g. https://github.com/tynany/cumulus_exporter), but have sadly been taking my time with frr exporter.

Thank you!

[2021-12-02 20:43] dswarbrick commented on #47
That's awesome news, I look forward to seeing the new, improved frr_exporter when you're done!

[2021-12-06 21:06] tynany commented on #47
Just an update here -- as with most things, finding time has been challenging. The refactor is complete, I just need to validate and tidy it up before pushing.

[2021-12-06 21:39] bdrung commented on #47
How about pushing the current state to a branch for review?

[2021-12-07 10:07] #45 closed

[2021-12-07 10:27] k0ste commented on #47
@tynany, can you bump release please, when all code landed to master? Thanks!

[2021-12-07 10:29] tynany commented on #47
@dswarbrick here is the PR -- https://github.com/tynany/frr_exporter/pull/48. Please review at your earliest convenience.

@k0ste yep, I will bump to proper semantic versioning once https://github.com/tynany/frr_exporter/pull/48 has been merged.

[2021-12-07 10:30] tynany commented on #47
@bdrung & @dswarbrick here is the PR -- https://github.com/tynany/frr_exporter/pull/48. Please review at your earliest convenience.

@k0ste yep, I will bump to proper semantic versioning once https://github.com/tynany/frr_exporter/pull/48 has been merged.

[2021-12-07 12:04] bdrung commented on #47
Reviewed and commented #48. This PR addresses all smelly parts of the code and will make the code concurrency-safe.

[2021-12-08 08:19] tynany opened #49 "Move to UNIX sockets"
Using `vtysh` to interact with FRR is slow and can be dangerous if not properly maintained (e.g. lead to a fork bomb).

frr_exporter should move to interface with FRR via the UNIX daemons that are usually exposed under `/var/run/frr`.

[2021-12-08 13:38] bdrung opened #52 "bgp collector fails: invalid character 'B' looking for beginning of value"
I was testing frr_exporter 0.2.20 plus cherry-picked commits from #46 and #48 on our stack and these collectors failed:
[code]

Used arguments:
[code]

This error message is not very helpful since it is not clear what data the collector tried to parse.

[2021-12-08 19:43] tynany commented on #52
Thanks. This is a result of rebasing https://github.com/tynany/frr_exporter/pull/48 to remove the socket changes.

Fixed in https://github.com/tynany/frr_exporter/pull/50 after rebasing from https://github.com/bdrung/frr_exporter/commits/frr-unix-sockets.

[2021-12-08 19:45] #49 closed

[2021-12-08 19:45] #52 closed

[2021-12-10 22:34] #47 closed

[2021-12-13 11:45] irregulator opened #56 "bgpl2vpn collector panics due to null prometheus descriptions"
Hello and thanks for developing this exporter!

`bgpl2vpn` collector causes panic to the exporter like:

[code]

The FRR configuration merely enables `l2vpn` and looks like this:
[code]

The frr_exporter in use has been built out of 88e396e1a2c57820970ab7b09a76e218f54a9f4a commit.

To my understanding, the cause of the panic is that `bgpDesc["ribCount"]` (and the rest of bgpDesc prometheus metrics

[2021-12-14 11:17] #56 closed

[2021-12-14 11:20] tynany commented on #56
Fixed in https://github.com/tynany/frr_exporter/releases/tag/v1.0.1

[2021-12-14 11:23] irregulator commented on #56
Thanks!

[2021-12-16 07:56] k0ste opened #59 "Impossible to disable collector"
[code]

Without collector disablement we will receive on each prometheus query something like

[code]

[2021-12-16 08:07] k0ste opened #60 "OSPF collector isn't work in OSPF multi instance deployments"
In [OSPF multi instance](https://docs.frrouting.org/en/latest/ospfd.html#multi-instance-support) deployments we get this error:

[code]

But actually ospfd processes up and run

[code]

The sockets:

[code]

The frr configuration is:

[code]

[2021-12-16 09:38] tynany commented on #59
To disable a default collector, use the `--no-collector.$name flag`. In your example of trying to disable BFD, use `--no-collector.bfd`.

I would like to collect feedback -- did you read the REAME, specifically https://github.com/tynany/frr_exporter#collectors? There is an issue open related to this (https://github.com/tynany/frr_exporter/issues/37) and perhaps my assumption people refer to the RE

[2021-12-16 09:40] tynany commented on #60
Thank you. I will take a look at this over the next few days. In the interim, you can resort back to using `vtysh` instead of sockets for FRR metric collection by passing the `--frr-vtysh` flag to FRR Exporter.

[2021-12-16 09:44] k0ste commented on #59
I reread even after your mention, and I still need time to find this annotation. All options definitely should exists in `--help`

Closed in favour #37

[2021-12-16 09:44] #59 closed

[2021-12-16 09:47] k0ste commented on #37
In case, where we don't wan't to print all options in help, or for example negate values, we can explicitly enable all services and left for user choice to disable any of collector. This behaviour was used in https://github.com/openstack-exporter/openstack-exporter

[2021-12-21 20:03] #60 closed

[2021-12-21 20:19] tynany commented on #37
Added in https://github.com/tynany/frr_exporter/releases/tag/v1.1.0

[2021-12-21 20:19] #37 closed

[2021-12-21 20:20] tynany commented on #60
Support for OSPF multi-instance has been added in [v1.1.0](https://github.com/tynany/frr_exporter/releases/tag/v1.1.0).

[2022-01-01 21:50] dswarbrick opened #63 "bfd collector unit tests fail on 32-bit arch"
When running tests on 32-bit machines, tests essentially fail due to what would be integer overflows.
[code]
The ID fields in the `bfdPeer` struct are signed ints, which will have a range of -2147483648 to +2147483647 on 32-bit platforms.
[code]
Given that the BGP RFCs define the router ID to be a "4-octet, unsigned, non-zero integer", the `ID` and `RemoteID` fields really ought to be explicit `ui

[2022-01-20 10:56] 33Fraise33 opened #64 "Connection refused against FRR 7.3.1 running on 6Wind Turbo Router"
Hello,

We have setup frr_exporter on one of our 6wind dev hosts. This one is showing an error when running with socket mode:
[code]

output of vtysh `show version`
[code]

when running in vtysh mode:
[code]

[2022-01-21 04:55] tynany commented on #64
I don't have access to any 6WIND products so it makes troubleshooting difficult.

This could be related to a permission issue. I see `frr_exporter` is being run by sudo which should be fine. Can you please show the contents of `ls -lah /etc/frr`? Can you also confirm the frr process is running?

Odd that the output is empty. What happens when you manually run the command `vtysh -c 'show bgp vrf al

[2022-01-21 10:26] 33Fraise33 commented on #64
I checked with the command provided and it says bgpd is not configured. I have opened a ticket with 6Wind to further check with them. I will try to update if I have more information (if other people would be running into this issue)

[2022-02-27 20:20] LaurentDumont opened #66 "Possible freebsd support?"
Hiya!

I'm looking to get this running on Pfsense, which is based around FreeBSD.  It can run FRR natively, but SNMP doesn't expose BGP data.

- Because BSD != Linux, the Go binary doesnt work.
[code]
- Pfsense cannot run Docker so a container is a no go :(

Couple of options

- FreeBSD go binaries? No idea if that is even feasible.
- Connecting to the socket remotely? If we are using the `vtysh`

[2022-03-07 20:31] tynany commented on #66
Thanks for the detailed info. I will take a look at this in the coming week. Cheers

[2022-03-07 20:31] tynany commented on #64
Closing this issue out. If you have more info please reopen it.

[2022-03-07 20:31] #64 closed

[2022-04-14 14:54] 33Fraise33 commented on #64
Hi,

i have managed to get it working with the 6wind support it might have been we had a configuration issue which caused bgpd to not be running.

Correct scrapes do work with the following path `--frr.socket.dir-path="/etc/frr"`

[2022-04-23 00:36] #63 closed

[2022-04-23 00:50] tynany commented on #66
Apologies for taking so long. Freebsd binaries are now included when building and are available starting from [v1.1.1](https://github.com/tynany/frr_exporter/releases/tag/v1.1.1).

[2022-04-23 00:50] #66 closed

[2022-05-09 09:10] 33Fraise33 opened #70 "Where is the counter "frr_bgp_rib_count_total" coming from?"
Hello,

We are having an issue with the `rr_bgp_rib_count_total` counter. We are peering with an uplink provider and in the received routes we are seeing that the received routes in our vrf is not matching with the rib routes.
See screenshot below:
![image](https://user-images.githubusercontent.com/6802744/167378275-3408823c-cf20-422d-9484-19db48afec64.png)

What query is being used to calculate t

[2022-05-10 08:19] tynany commented on #70
Hello, the `frr_bgp_rib_count_total` gauge comes from the `ribCount` field of `show bgp vrf all ipv4 unicast summary json`. You can also see the human-readable value using `show bgp vrf all ipv4 unicast summary`.

I have confirmed the values match in my test environment:
[code]

[code]

Is there only one peer (the one with ~889k received prefixes)? If so, it does seem strange there are approx doub

[2022-05-17 17:53] 5eb38fd8cdee opened #72 "json: cannot unmarshal number into Go struct field bgpPeerSession.Peers.PeerUptimeMsec of type uint32"
Hello,

I am trying out the FRR Exporter on a lab environment, and I am running into issues when I try to obtain data from FRR Exporter. This is the error message:

[code]
Full output:

[code]

[2022-05-30 19:33] 33Fraise33 commented on #70
Hello,

I just confirmed, running: the command you provided in my personal test environment gives me the same result:
[code]
Exporter:
[code]

This is running the latest frr_exporter version:
[code]

with the latest frr version: `FRRouting (version 8.2.2)`

[2022-05-30 19:40] #70 closed

[2022-06-13 20:51] mdtancsa commented on #72
Hi,
I just ran into this issue as well. Is there any reason not to use the json-field-types-2 branch ?

[2022-06-25 23:04] LaurentDumont commented on #66
Woohoo!

It's alive!

[code]

Thank you!

[2022-06-25 23:12] LaurentDumont commented on #66
I didn't see a donate/contribute but let me know if I can send some $ your way. :)

[2022-06-27 12:01] 33Fraise33 commented on #72
Hi, I can confirm I also have this issue. Another host with a similar config does not have this issue. it seems to be related to the upgrade from 1.1.0 to 1.1.1 for me.

[2022-06-27 12:43] 33Fraise33 opened #74 "Not all descriptions are filled up for non default vrf"
Hello,

We notice that not all descriptions in our exporter are complete.

for example I have the result:
`frr_bgp_peer_message_received_total{afi="ipv4",local_as="65264",peer="10.189.0.178",peer_as="64822",peer_desc="",safi="unicast",vrf="nni"} 0`

While if I run the following command the description is there:
[code]
Is this expected behaviour and can this be resolved?

frr version:
[code]

[2022-07-05 22:49] alcelafranque opened #75 "Is there a grafana dashboard somewhere please?"
thank you for this work, the project is really nice.
I wonder if someone has made a grafana dashboard?

[2022-07-06 09:14] tynany commented on #74
I am not able to replicate this behaviour.

Can you confirm you are running `frr_exporter` with the `--collector.bgp.peer-descriptions` and `--collector.bgp.peer-descriptions.plain-text` flag?

Below is how I've tried to recreate the issue:

[code]

Can you please provide more info such as:
 - What flags you are using with `frr_exporter`?
 - Your scrubbed FRR configuration.
 - Do any other descrip

[2022-07-06 09:17] tynany commented on #66
@LaurentDumont Awesome! Glad it's working.

[2022-07-06 09:19] tynany commented on #75
I'm happy to build a dashboard if you let me know what you are after.

I find dashboards very subjective and there is rarely a one-size-fits-all.

[2022-07-06 10:38] tynany commented on #74
Thanks for the detailed information. I'll have a fix ready to go in a day or two.

[2022-07-06 12:08] alcelafranque commented on #75
Thanks !

It's true, I agree with that.

I am looking for a grafana dashboard that can allow me to visualize:
- all of my routes on each peer v4/v6
- have a count of all my routes
- have the possibility of a vision router by router

To be honest I use node exporter on a few of my servers without understanding all the exported values ​​and times when I need to debug these metrics come in handy.

[2022-07-07 07:44] #72 closed, assigned to nobody

[2022-08-11 16:24] posiczko opened #78 "New docker image for frr_exporter v1.1.1?"
Hello,

There appears to be a new release of frr_exporter, 1.1.1 which fixes the resource leak mentioned in #63. That release does not have a corresponding [docker image](https://hub.docker.com/r/tynany/frr_exporter/tags). Any chance for an official build with tag 1.1.1?

Thank you!

Pawel

[2022-08-19 11:42] #74 closed

[2022-08-19 11:53] tynany commented on #78
Thanks for that. I've pushed v1.1.1, although, v1.1.2 has just been released with a couple of bug fixes.

[2022-08-19 11:53] #78 closed

[2022-08-29 13:05] 33Fraise33 opened #79 "cannot process output of show bgp vrf all ipv4 unicast summary json: unexpected end of JSON input"
Hello,

We upgraded towards version 1.1.2 but we are seeing the following issue below:
`msg="collector scrape failed" name=bgp duration_seconds=0.058906413 err="cannot process output of show bgp vrf all ipv4 unicast summary json: unexpected end of JSON input: command output: {\n\"default\":{\n  \"routerId\":\"10.11.193.2\",\n  \"as\":65237,\n  \"vrfId\":0,\n  \"vrfName\":\"default\",\n  \"tableVer

[2022-08-30 13:23] 33Fraise33 commented on #79
I have the same issue on a clean debian host with FRR 8.3

`cannot process output of show bgp vrf all ipv4 unicast summary json: unexpected end of JSON input: command output: {\n\"default\":{}\n,\n\"remotesites\":{\n  \"routerId\":\"10.10.33.1\",\n  \"as\":211184,\n  \"vrfId\":12,\n  \"vrfName\":\"remotesites\",\n  \"tableVersion\":42,\n  \"ribCount\":23,\n  \"ribMemory\":4416,\n  \"peerCount\":5,

[2022-09-05 21:31] tynany commented on #79
Thanks for the detailed repro steps. Can you please paste the linted config that exhibits the issue?

[2022-09-06 11:02] 33Fraise33 commented on #79
[code]

This is the config of the host running 8.3

[2022-09-15 06:11] 33Fraise33 commented on #79
Hello,

Do you have any update to this, currently graphs look like this because of this :/
![image](https://user-images.githubusercontent.com/6802744/190327735-cebe859c-cf5b-4871-83f6-33988661f77b.png)

[2022-09-15 07:36] tynany commented on #79
Apologies for the delay. Time has not been on my side recently. I am planning on looking at it this weekend, so should have a fix within a week. Cheers!

[2022-09-15 07:37] 33Fraise33 commented on #79
No worries, have a nice weekend!

[2022-09-18 11:35] tynany commented on #79
I am still unable to replicate the issue you are seeing. Here is what I did:

1. Fresh version of Debian 11.5.0.
2. Install FRR 8.3.1.
3. Copy the config you provided to `/etc/frr/frr.conf`.
4. Enable `bgpd` in `/etc/frr/daemons`.
5. Install FRR Exporter 1.1.2 to `/usr/local/bin/frr_exporter`.
6. Copy the Systemd file you provided to `/etc/systemd/system/frr_exporter.service`.

Can you please run

[2022-09-18 22:37] dswarbrick commented on #79
I can see nothing wrong with the outputted JSON, and it even unmarshals totally fine.

I'm presuming that the error is error is being caught and logged by this code in `collectBGP`:
[code]
However, there are multiple json.Unmarshal() invocations within processBGPSummary. The first is merely:
[code]
I think we can rule that out, since testing that with the reported command output is fine.

But a fe

[2022-09-18 22:41] tynany commented on #79
@dswarbrick Thanks for looking into it!

I agree with you and have set up better logging in https://github.com/tynany/frr_exporter/pull/80 (https://github.com/tynany/frr_exporter/releases/tag/v1.1.3-rc1) to capture the input of the failing unmarshal.

I will take this opportunity to redo logging as the error returned in the PR is misleading. I will likely ask for your review.

[2022-09-18 22:48] dswarbrick commented on #79
@tynany It probably wouldn't hurt to sprinkle some debug logging of such command outputs, which can be left in there permanently and optionally viewed by end users, depending on their configured log level. This can really help when trying to troubleshoot issues such as this, where we don't entirely trust the output of some external source that we need to parse.

I would also recommend _wrapping_ e

[2022-09-19 19:20] daveset opened #83 "Index out of range processing 'show bgp vrf all %s %s summary json' output with 32 peers"
On latest main we are seeing an index out of range error. This is happening where we have 32 peers and the output exceeds the  buffer size of 4096.

Command buffer handling was recently changed in https://github.com/tynany/frr_exporter/pull/81. The `buf[n]` check overflows when the command returns more than 4096 bytes of data.

# kubectl logs frr-switch-1 -c frr-exporter
{"caller":"frr_exporter.go

[2022-09-20 00:21] #83 closed

[2022-09-20 07:33] 33Fraise33 commented on #79
Hello,

Here is the new log running 1.1.3-rc1

[frr_exporter.log](https://github.com/tynany/frr_exporter/files/9605162/frr_exporter.log)

[2022-09-20 11:47] dswarbrick commented on #79
So, as suspected, the JSON output of `show bgp vrf all neighbors json` has been truncated, ending abruptly with:
[code]
@33Fraise33 Are you able to run that command manually from vtysh, to verify whether FRR is truncating it before frr_exporter even reads it?

[2022-09-20 12:03] 33Fraise33 commented on #79
Hi,

When I run the command manually I do not notice this behaviour. I seemlingly get the full output every time.

[2022-09-20 12:15] tynany commented on #79
@33Fraise33 what happens if you run FRR Exporter with the `--frr.vtysh` flag? I want to see if the issue is only present when using the Unix socket

[2022-09-24 00:30] tynany commented on #79
@33Fraise33 I have unsuccessfully tried reproducing this issue by configuring 100 established BGP of peers on both Cumulus Linux 4.4.4 and Debian running FRR 8.3. The output of `show bgp vrf all neighbors json` is 10,000s of lines, far greater than the ~2,000 from your log.

Can you please provide the exact steps, ideally without any established peers?

[2022-10-03 06:53] 33Fraise33 commented on #79
Hello,

I am willing to provide you with access to my person server where I have this issue, can you contact me?
There you can test what I encounter. We also have this in production at the company I work at so it does not seem to be limited to my specific setup.

Contact detail:
github+tynany @ frai.se

[2022-10-04 09:44] paketb0te opened #86 "Updating modules"
Hi @tynany,

first of all, thanks for providing this exporter, it is very useful to us!

Would it be possible to update the used dependencies to their respective versions?

I built and tested the container sucessfully with the changes in [5dcdd911](https://github.com/paketb0te/frr_exporter/commit/5dcdd91116508fc7fec1bc3334e56ce7db351ab5) (just ran `go get -u && go mod tidy`). Please let me know if

[2022-10-04 20:20] tynany commented on #86
Hi @paketb0te,

Please feel free to open a PR; otherwise, I'll take a look in a couple of days.

Cheers,
Tynan

[2022-10-04 20:24] tynany commented on #79
Thanks. I have just reached out.

[2022-10-07 22:24] #86 closed

[2022-10-12 03:33] tynany commented on #79
Thanks for granting me access to troubleshoot, as it helped me determine the cause.

FRR was prematurely returning data read from the FRR socket due to [this](https://github.com/tynany/frr_exporter/blob/d60c7c244825e03e4f7fcec418c2166b4a0ac871/internal/frrsockets/frrsockets.go#L73) line. The point of return in the text output was different across each run, which is odd, but I imagine FRR is return

[2022-10-13 05:59] #79 closed

[2022-11-15 19:20] MartijnStraatman opened #93 "How to use the exporter when running frr in container also"
Hi,

We are planning to use Frr and run it inside a container. Metrics are crucial for us. How can I  access the metrics when frr is running in a container and this exporter also.

[2022-11-16 21:35] paketb0te commented on #93
We used to do this by creating a shared volume that gets mounted into both the FRR container and the exporter container, and then place the control socket there.

Nowadays we run k8s so we just stick both containers into the same pod.

[2022-11-17 14:07] MartijnStraatman commented on #93
Ok, thx !

[2022-11-17 14:07] #93 closed